body, html {
    height: 90%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#title {
    font-size: 60px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 0%;
}

#weather-date-time {
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 5%;
}

.search-box {
    margin-bottom: 20px;
}

.search-bar {
    width: 90%;
    height: 30px;
    border: 10px;
    padding: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adds space between the buttons */
    margin-top: 10px; /* Adds space above the buttons */
}

.search-btn {
    width: 30%;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.top-weather-status {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.top-locations {
    padding: 2%;
    font-size: 25px;
    width: 26%;
    height: 140px;
    border-radius: 10%;
    background-color: aqua;
}